@{
    ViewData["Title"] = "Capitalism Game";
}

<div class="container">
    <partial name="_PlayerStatsPartial" />

    <a asp-controller="play" asp-action="index" class="btn btn-outline-primary btn-sm float-right mt-4 mb-1"><i class="fa fa-arrow-left"></i> Back to Town</a>

    <div style="clear:both;">
        @Html.DisplayFor(m => m)
    </div>
</div>


@section Scripts
    {
    <script src="~/js/gameplay.js"></script>
    <script type="text/javascript">
        var work = function (buildingId, callback) {
            event.preventDefault();

            $.ajax({
                url: '/api/work',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    buildingId: buildingId,
                }),
                dataType: 'json',
                success: function (results) {
                    displayActionResults(results);
                    updateStats();
                    if (callback) { callback(buildingId); }
                }
            });
        };

        var buyBuilding = function (buildingId, callback) {
            event.preventDefault();

            $.ajax({
                url: '/api/buybuilding',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    buildingId: buildingId,
                }),
                dataType: 'json',
                success: function (results) {
                    displayActionResults(results);
                    updateStats();
                    if (callback) { callback(buildingId); }
                }
            });
        };

        $(document).ready(function () {
            updateStats();
        });

    </script>
}