@model Capitalism.Logic.Models.Buildings.Mine

<h4>The Mines</h4>

<div class="mt-3">
    <div class="tab-content border p-3">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <p>It's tough work in the mines, and they only pay you $5 per shift.</p>

            <hr />
            <div class="w-100">
                <button class="btn btn-dark" onclick="work('@Model.Id')">Work</button>
            </div>
        </div>
    </div>
</div>
